* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: rgb(222, 231, 205);
}

.navigation a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 125%;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: #e6fa74;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid rgb(222, 231, 205);
  font-size: 4vw;
  line-height: 1.1;
}
.page-section > div {
  flex: 0 0 77%;
}
.page-section p {
  margin-bottom: 20px;